{% extends 'user/base.html' %}
{% block content %}
	<div class="card">  
		<div class="card-body">
			<h1 class="h1-responsive font-weight-bold text-center my-4">About us</h1>
			<div class="border-top pt-3">
				<center><b>BReminder is a reminder application.</b></center>
				BReminder reminds you bithdays of you favorite people and helps to wish your friend,family members and relatives on there birthdays without forgetting their birthdays.  
				<br>
				<h5>How to use:</h5>
				1. Register<br>
				2. Update your Whatsapp number in profile.<br>
				3. scan QR code with registerd whatsapp no and send <i>join powerful-eight</i> message.<br>
				4.Now add birthdays.<br>
				5.All set, now you will start getting birtday notification on your whatsapp number.<br>

			</div>
	    </div>
	</div>
{% endblock content %}