{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class="card">  
		<div class="card-body">
			<form action={% url 'add_birthday' %} method="POST">
		        {% csrf_token %}
		        <fieldset class="form-group">
		        	<legend class="border-bottom mb-4">Birthday</legend>
		        	{{ form | crispy }}
		        </fieldset>
		        <div class="form-group">
		        	<button class="btn btn-outline-info" type="submit">Add</button>
					<small class="text-muted">
						<button class="btn btn-outline-secondary" type="reset">Reset</button>
					</small>
		        </div>
			</form>
			
			
            <div>
			<form action="{% url 'upload_csv' %}", method="POST", enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add Birthdays using CSV file</legend>
				<input type='file' name='csv_file' class="form-control">
				</fieldset>
				<button type='submit' class='btn btn-outline-success'>Upload</button>
			</form>
            <br>   
			</div>
			<div class="border-top pt-3">
				<small class="text-muted">
					Need help? <a class="ml-2" href="https://rb.gy/ydfuly" download>download template</a>
				</small>
			</div>
			
		</div>
	</div>
{% endblock content %}