{% extends 'user/base.html' %}
{% block content %}
<h3>Birthdays</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="today-tab" data-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="true">Today</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="upcomming-tab" data-toggle="tab" href="#upcomming" role="tab" aria-controls="upcomming" aria-selected="false">Upcomming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
  <br>
  <div class="list-group">
  {% for person in today_birthdays %}
  <span class="list-group-item">
      <a href={% url 'birthday-detail' person.id %}>
        <h4 class="list-group-item-heading">{{person.fname}} {{person.lname}} </h4>
      </a>
      <p class="list-group-item-text">{{person.dob}}</p>
      {% if person.whatsapp_number %}
      <a style = "color: black !important;" href="https://api.whatsapp.com/send?phone={{person.whatsapp_number}}&text=Happy%20Birthday" class="fa fa-whatsapp"> </a>
      {% endif %}
      {% if person.mobile %}
      <a style = "color: black !important;" href="tel:{{person.mobile}}" class="fa fa-phone"></a>
      <a style = "color: black !important;" href="sms:{{person.mobile}};?&body=Happy%20Birthday" class="fa fa-commenting-o" ></a>
      {% endif %}
      {% if person.email %}
      <a style = "color: black !important;" href="mailto:{{person.email}};?&body=Happy%20Birthday" class="fa fa-envelope-o" ></a>
      {% endif %}
  </span>

  {% empty %}
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">No Birtdays today </h4>
      <p class="list-group-item-text">:)</p>
    </a>
  {% endfor %}
  </div>  
  
  </div>
  <div class="tab-pane fade" id="upcomming" role="tabpanel" aria-labelledby="upcomming-tab">
  <br>
  <div class="list-group">
  {% for person in upcomming_birthdays %}
    <a href="{% url 'birthday-detail' person.id %}" class="list-group-item">
      <h4 class="list-group-item-heading">{{person.fname}} {{person.mname}} {{person.lname}} </h4>
      <p class="list-group-item-text">{{person.dob}}</p>
    </a>
  

  {% empty %}
     <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Nothing to List</h4>
      <p class="list-group-item-text">:)</p>
    </a>
  {% endfor %}
   </div>
  </div>
  <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
  <br>
  <div class="list-group">
  {% for person in recent_birthdays %}
  <a href="{% url 'birthday-detail' person.id %}" class="list-group-item">
      <h4 class="list-group-item-heading">{{person.fname}} {{person.mname}} {{person.lname}} </h4>
      <p class="list-group-item-text">{{person.dob}}</p>
    </a>

  {% empty %}
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Nothing to List</h4>
      <p class="list-group-item-text">:)</p>
    </a>
  {% endfor %}
  </div>
  </div>
  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
  <br>
  <div class="list-group">
  {% for person in all_birthdays %}
  <div class="list-group-item">
      <div class="row">
        <div class="col">
          <h4 class="list-group-item-heading d-flex justify-content-start">{{person.fname}} {{person.mname}} {{person.lname}}</h4>
        </div>
        <div class="col-sm-1">
          <div class="d-flex justify-content-end">
            <a class="btn btn-outline-warning ml-md-auto" href={% url 'birthday-update' person.id %} >Modify</a> &nbsp
            <a class="btn btn-outline-danger" href={% url 'birthday-delete' person.id %}>Delete</a> 
          </div>
        </div>
      </div>
      <p class="list-group-item-text">{{person.dob}}</p>
  </div>

  {% empty %}
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Nothing to List</h4>
      <p class="list-group-item-text">please add birtdays :)</p>
    </a>
  {% endfor %}
  </div>  
  
  </div>
</div>

<script>

$(document).ready(function(){

  if(window.location.hash != "") {
    $('a[href="' + window.location.hash + '"]').click()
  }

});
</script>

{% endblock content %}